/* done  */
.total-card {
  padding: 25px;
  border: 4px solid #96f;
  border-radius: 5px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
.dashboard-body,
.all-side {
  padding: 20px;
  font-family: sans-serif;
  max-width: calc(100vw - 290px);
  margin-left: 270px;
}
/* done  */
.total-card span {
  letter-spacing: 3px;
  font-size: 25px;
  padding: 0 0 10px;
  font-weight: 600;
  display: flex;
}
/* done */
.total-card p {
  font-weight: 550;
  font-size: 20px;
}
/* done  */
.total-card button {
  border: 2px solid #9966ff;
  font-size: 17px;
  background: #fff;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
  font-weight: 550;
  transition: all 0.7s;
}
/* done  */
.total-card button:hover {
  background: #9933ff;
  color: #fff;
}
/* done  */
.line-color {
  display: block;
  width: 100%;
}
/* done  */
.line-box {
  width: 15px;
  height: 15px;
}
/* done  */
.dash {
  display: flex;
  padding: 5px;
}
/* done  */
.line-color p {
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: bold;
}
/* done  */
.line-chart {
  height: 12px;
  width: 300px;
  border-radius: 5px;
  margin: 20px 0;
}
/* done  */
.total-category {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
/* done  */
.percent {
  color: #888;
}
/* donne  */
.quote {
  max-width: 500px;
  width: 90%;
  margin: 15px auto;
  font-size: 20px;
  border: 1px solid #9933ff;
  padding: 10px 15px;
  border-radius: 30px;
}
/* done  */
.quote p {
  font-weight: 600;
}
/* done  */
.quote figcaption {
  font-weight: 650;
  text-align: center;
}
/* done  */
.quote-icon {
  color: #9933ff;
  padding: 5px;
}
/* done  */
.quote .left {
  margin-left: 95%;
}
/* done  */
.naira {
  width: 40px;
  object-fit: contain;
}
/* done  */
.dash-top4 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: center;
}
/* done  */
.dash-top h3 {
  text-align: center;
  font-size: 30px;
  padding: 20px 0 10px;
  position: relative;
  margin: 30px 0 50px;
}
/* done  */
.dash-top1 {
  display: none;
}
.dash-top h3:after,
.expenses h3:after {
  content: "";
  position: absolute;
  width: 20%;
  height: 5px;
  background: #9933ff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
/* done  */
.overflow {
  overflow: hidden;
  max-height: 100vh;
}
/* done  */
.user {
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
}

@media (min-width: 1800px) {
  /* done  */
  .user {
    font-size: 50px;
  }
  /* done  */
  .quote {
    max-width: 60vh;
    margin: 40px auto;
    font-size: 45px;
    padding: 30px;
  }
  /* done  */
  .total-card {
    padding: 40px;
    width: 20vw;
    height: auto;
  }
  /* done  */
  .total-card span {
    font-size: 40px;
  }
  /* done  */
  .total-card p {
    font-size: 50px;
  }
  /* done  */
  .total-card button {
    font-size: 35px;
    padding: 20px 50px;
    width: auto;
  }
  /* done  */
  .line-box {
    width: 40px;
    height: 40px;
  }
  /* done  */
  .dash {
    padding: 25px;
  }
  /* done  */
  .line-color p {
    margin-left: 40px;
    font-size: 40px;
  }
  /* done  */
  .line-chart {
    height: 30px;
    width: 22vw;
    border-radius: 60px;
  }
  /* done  */
  .dash-top h3 {
    font-size: 60px;
  }
  .dashboard-body,
  .all-side {
    margin-left: 25vw;
  }
}

@media (max-width: 850px) {
  /* done  */
  .user {
    margin-top: 30px;
    font-size: 20px;
  }
  /* done  */
  .total-category {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .dashboard-body,
  .all-side {
    /* width: 100vw !important; */
    max-width: 90vw !important;
    margin: 0 auto !important;
  }
  /* done  */
  .quote p {
    font-size: 15px;
  }
  /* done  */
  .dash-top4 {
    display: flex;
    flex-wrap: wrap;
  }
  /* done  */
  .dash-top1 {
    display: block;
    position: fixed;
    top: 10px;
    z-index: 110;
    transition: 1s;
    font-size: 30px;
    left: 20px;
    /* background-color: #93f; */
    padding: 6px;
    /* color: #fff; */
  }
  /* done  */
  .dashboard-body {
    padding: 0;
  }
  /* done  */
  .quote {
    margin-top: 30px;
  }
}
@media (max-width: 1000px) {
  /* done  */
  .total-card {
    padding: 5px;
  }
}

@media (max-width: 350px) {
  /* done  */
  .dash-top1 {
    font-size: 16px;
    padding: 5px;
    left: 10px;
  }
  /* done  */
  .user {
    font-size: 17px;
  }
  /* done  */
  .line-chart {
    width: 200px;
  }
  /* done  */
  .quote {
    padding: 5px;
    font-size: 15px;
  }
}
