.nav {
  box-sizing: border-box;
  padding: 10px 5%;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  background: #9966ff;
  /* opacity: 1; */
  z-index: 100;
  transition: 1s;
}
nav ul {
  list-style-type: none;
  display: inline-flex;
}
nav ul li a {
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}
.user-con {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #5e5c5c80; */
  width: 40px;
  height: 40px;
}
.user-con:hover .auth {
  display: block;
}
.user-con:hover .auth {
  display: block;
}
.auth {
  display: none;
  /* display: block; */
  position: absolute;
  background: #5e5c5c;
  border-radius: 10px;
  padding: 10px;
  right: 0;
  top: 100%;
  width: 150px;
  transition: 0.5s;
}
.auth li {
  padding: 6px;
}
.auth li:first-child {
  border-bottom: 1px solid #5e5c5c80;
}
.user {
  color: #fff;
  font-size: 5px;
  /* position: absolute;
  top: -50%;
  transform: translateY(50%); */
}
.user:hover {
  transition: 0.5s;
  color: #f1f1f1;
}

@media (min-width: 1800px) {
  nav ul li a {
    font-size: 40px;
    padding: 20px;
  }
  .nav {
    padding: 40px 8%;
  }
}
@media (max-width: 85lpx) {
  .user {
    position: absolute;
    top: -50%;
    transform: translateY(50%);
  }
}
@media (max-width: 639px) {
  .links {
    display: none;
  }
}
@media (max-width: 360px) {
  .nav h1 {
    font-size: 18px;
  }
}
@media (max-width: 300px) {
  .nav h1 {
    font-size: 15px;
  }
  nav ul li {
    font-size: 12px;
    padding: 5px;
  }
}
