/* done  */
.feature-box {
  display: flex;
  justify-content: space-evenly;
}
/* done  */
.features {
  margin: 30px 0;
}
/* done  */
.feature-box div {
  flex-basis: 30%;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}
/* done  */
.feat-icon {
  font-size: 4rem;
  color: #93f;
}
/* done  */
.feat-title {
  font-size: 1.7rem;
  padding: 15px 0 20px;
  font-weight: 600;
}
/* done  */
.feat-note {
  font-size: 1.3rem;
}

/* media queries */

@media (min-width: 1800px) {
  /* done  */
  .feat-title {
    font-size: 45px;
    padding: 30px 0;
  }
  /* done  */
  .feat-note {
    font-size: 40px;
    padding: 20px;
  }
  /* done  */
  .feat-icon {
    font-size: 8rem;
  }
  /* done  */
  .features {
    margin: 100px 0;
  }
}

@media (max-width: 770px) {
  /* done  */
  .feature-box {
    flex-direction: column;
  }
}
